.modalContent {
    background-color: white;
    color: #000;
    font-family: 'Arial', sans-serif;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 30px;
    max-width: 600px;
    width: 90%;
    position: absolute; 
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    overflow: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}

.modalHeader {
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.closeButton:hover {
    background-color: #000; 
    color: #FFF; 
}

.modalBody {
    padding-top: 20px;
    font-size: 1.1em;
}

.title {
    font-weight: 600;
    margin: 0;
}

@media (max-width: 768px) {
    .modalContent {
        width: 80%; 
        padding: 20px; 
    }

    .modalHeader {
        font-size: 1.3em; 
    }

    .closeButton {
        padding: 6px 12px; 
    }

    .modalBody {
        font-size: 1em; 
    }
}
